<div class="row">
    <div class="title-page">
      <h1 class="title" align='center'> List of students </h1>
    </div>
</div>

<br><br><br>

<div class="row">
    <% @students.each_with_index do |student, i|%>
      <% if i % 4 == 0 %>
        </div>
        <div class = 'row' >
      <% end %>
      <div class="col-xs-3", align="center">
        <%= link_to image_tag(student.image, :height => "50%", :width => "50%"), student_path(student) %><br>
        <h3><%= link_to student.name, student_path(student) %> </h3>
      </div>
    <% end %>
</div>
