<div class='row'>
  <div class='col-xs-12'>
     <h1> List of courses </h1>
  </div>
</div>

<div class='row', align = 'center'>
  
  <h3><% @courses.each do |course| %>
    <div class='col-xs-3'>
      <%= link_to course.title, course_path(course) %><br>
    </div>
    <% end %>
  <h3>
</div>
