<div class='row'>
  <div class='col-xs-3'>
    <%= image_tag(@course.image, :height => "100%", :width => "100%") %>
  </div>
  <div class='col-xs-9'>
    <h3> Title: <%= @course.title %> </h3>
    <h3> Link: <%= link_to(@course.link, @course.link) %> </h3>
    <h3> Description: <%= @course.description %> </h3> 
  </div>
</div>