<div class="row">
    <div class="title-page">
      <h1 class="title" align='center'> List of mentors </h1>
    </div>
</div>

<br><br><br>


<div class = "row">
  <% @mentors.each_with_index do |mentor, i| %>
    <% if i % 4 == 0 %>
      </div>
      <div class = 'row' align='center' >
    <% end %>
    
    <div class="col-xs-3" align="center">
      <%= link_to image_tag(mentor.image, :height => "50%", :width => "50%"), mentor_path(mentor) %><br>
      <h3><%= link_to mentor.name, mentor_path(mentor) %> </h3>
    </div>
  <% end %> 
</div>